/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

/* Novo gradiente azul para o fundo do menu */
.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(217deg 91% 60%) 0%,
    hsl(217deg 89% 80%) 26%,
    hsl(212deg 92% 90%) 50%,
    hsl(0deg 0% 100%) 100%
  );
  filter: blur(125px);
}

/* Novo gradiente azul para a seção Hero */
.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #0d1117 0%,
    #1f6feb 53.65%,
    #2563eb 100%
  );
}

/* Efeito de blur azul claro */
.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;
  background: #BFDBFE;
  filter: blur(190px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Efeito de blur azul */
.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;
  background: rgba(31, 117, 235, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

/* Efeito de blur azul escuro */
.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;
  background: rgba(13, 17, 23, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* Gradiente do card de feedback */
.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;
  background: #1f6feb;
  filter: blur(175px);
}

/* Gradiente do rodapé */
.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;
  background: #2563EB;
  filter: blur(150px);
}